.box {
     background: white;
     padding: 20px;
     max-width: 600px;
     margin: auto;
     border-radius: 10px;


}

.buttons {
        margin: 20px 0;


}

.btn {
    display: inline-block;
    padding:  10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bol;




}

.btn:hover {
    background-color: #0056b3;
}
.btn {
    display:inline-block;
     padding: 10px 15px;
     background-color: #0a66c2;
     color: white;
     text-decoration: none;
    border-radius: 5px;
     font-weight: bold;
     






